<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <connectionStrings>
        
        <add name="HeroMangaConnection"
            connectionString="CQhCGBucYtUhV2/D99AEseC9+cq/923ooSt9aYFYOjpTAtABKThshSWk1gFHgn7E1hYguAWGZ5jx6ofScSGTiw7Gm9mD1zO40WIHRHgDOrc="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>